<div style="height: 300px;" class="bg-dark text-light mt-5 d-flex justify-content-center flex-wrap"> 

<div class="d-flex justify-content-between w-100 mb-2  p-5">
    <div class="about w-25">

<h3>Daily Cart</h3>
<p  class="mt-3"  >Designed and build with all the love in the world by the </p>


<p>currently Licensed MIT, docs CC BY 3.0</p>
<p>Currently v5.3.2</p>




    </div>


    <div class="help">

<h3>Help</h3>
<div class="d-flex flex-column mt-3  " >

<a class="btn text-light" routerLink="">Home</a>
<a class="btn text-light" routerLink="user/wishlist">WishList</a>
<a  class="btn text-light"  routerLink="user/cart">Cart</a>

</div>


    </div>




<div class="address">
<h3>Registered Address</h3>
<h5 class="mt-3"> Manhattan</h5>
<h5>Near Center Square</h5>

</div>




<div class="Contact-us">
<h3>Contact Us</h3>
<div class="d-flex mt-3">

<input type="text" placeholder="Contact Us" class="form-control me-2">
<div class="btn btn-warning"><i class="fa-solid fa-share"></i></div>

</div>

<div class="icons d-flex justify-content-between mt-3 ">

<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-github"></i>

</div>





</div>


</div>




   