<div style="height: 100vh;" class="d-flex flex-column justify-content-center align-items-center w-100">

    <a style="text-align: left;" class="btn text-primary" routerLink="">Back to home</a>
    <div class="row border rounded shadow w-75">
    <div class="col-lg-6 p-0 bg-black">
    <img class="img-fluid" src="https://e1.pxfuel.com/desktop-wallpaper/492/483/desktop-wallpaper-best-5-rainmeter-backgrounds-on-hip-rainmeter.jpg" alt="">
    </div>
    
    <div class="col-lg-6 bg-primary " >
        <div style="height: 100%;" class="d-flex justify-content-center align-items-center flex-column text-align">
        
        <h4>Welcome User</h4>
        <!-- form -->
        <form  class="mt-3" [formGroup]="registerForm"  (ngSubmit)="register()" >


            <div class="mb-3">
                <input style="width: 400px;" type="text" placeholder="Enter userName" class="form-control" formControlName="username" name="username">
            </div>

            <!-- validationuser -->
            <div *ngIf="  this.registerForm.get('username')?.errors&&this.registerForm.get('username')?.touched" class="div mb-3 fw-bolder text-light">
              
                *Invalid Username

            </div>
            



    <div class="mb-3">
        <input style="width: 400px;" type="text" placeholder="Enter Email Id" class="form-control" formControlName="email" name="email">
    </div>
    
    
  <!-- validation -->
  <div *ngIf="  this.registerForm.get('email')?.errors&&this.registerForm.get('email')?.touched" class="div mb-3 fw-bolder text-light">
              
    *Invalid Email

</div>

    <div class="mb-3">
        <input style="width: 400px;" type="password" placeholder="Enter password" class="form-control" formControlName="password" name="password" >
    </div>

      <!-- validation -->
      <div *ngIf="  this.registerForm.get('password')?.errors&&this.registerForm.get('password')?.touched" class="div mb-3 fw-bolder text-light">
              
        *Invalid password

    </div>
      
       
    <div class="btn align-items-center justify-content-center d-flex">
        <button class="btn btn-success" type="submit">Register</button>
    </div>
    
    
        </form>
        <p>New user?Click here to <a routerLink="/user/login" class=" text-light"> Login</a></p>
        
        </div>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>